h1 {
    font-family: 'Raleway', sans-serif;
    font-size: 4rem;
    text-align: center;
}

header {
    box-sizing: border-box;
    padding: 1rem 0;
    /*background-color: #a70632;*/
    height: 500px;
    width: 100%;
    background: url('../../assets/img/hotel-hero.jpg') no-repeat;
    background-attachment: fixed;
    background-position: center -150px;
    /*background-size: cover;*/
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
}

header div {
    display: inline-block;
    text-align: center;
}

header h1 {
    margin: 1rem 0;
    color: #ffffff;
    font-size: 8rem;
    font-weight: 400;
}