<footer>
    <section class="w960">
        <section>
            <p>Main Navigation</p>
            <ul>
                <li><a href="#">Home</a></li>
                <li><a href="#">Locations</a></li>
                <li><a href="#">Services</a></li>
                <li><a href="#">About</a></li>
                <li><a href="#">Contact</a></li>
            </ul>
        </section>
        <section>
            <p>Boring Stuff</p>
            <ul>
                <li><a href="#">Terms & Conditions</a></li>
                <li><a href="#">Privacy Policy</a></li>
                <li><a href="#">Site Map</a></li>
            </ul>
        </section>
        <section>
            <p>Social Links</p>
            <ul>
                <li><a href="#">Facebook</a></li>
                <li><a href="#">Twitter</a></li>
                <li><a href="#">Youtube</a></li>
                <li><a href="#">Instagram</a></li>
            </ul>
        </section>
        <section>
            <p>Contact Us</p>
            <ul>
                <li><a href="#">+381 123 67 89</a></li>
                <li><a href="#">+381 623 55 23</a></li>
                <li><a href="#">info@methotels.com</a></li>
            </ul>
        </section>
        <section>
            <p>Find Us</p>
            <ul>
                <li><a href="#">
                            Milentija Popovica 34<br>
                            1100 Belgrade, Serbia
                        </a></li>
            </ul>
        </section>
    </section>
</footer>